
div {
  background-color: grey;
  width: 100%;
   height: 100%;
   margin:0; /* Space from this element (entire page) and others*/
   padding:0; /*space from content and border*/
   border: solid black;
   border-width: thick;
   overflow:visible;
   display:inline-grid;

}
h2 {
  text-align: center;
  background-color: lightblue;
  color: black;
}
h3 {
  text-align: center;
  background-color: darkblue;
  color: white;
}
img {
  border: groove 10px white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
header{
  background-color: lightgrey;
}
